$primary_color: rgb(101, 178, 230);

.navbar {
  width: 100vw;
  background: $primary_color;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .navbar_button_wrapper {
    display: flex;
  }
}
