$primary-color: rgb(255, 255, 255);
$secondary-color: rgb(58, 58, 58);

.button {
  background: $primary-color;
  padding: 0.5rem 1.5rem 0.5rem 1.5rem;
  font-size: 24px;
  border: none;
  box-shadow: inset 0 0 0 0 $secondary-color;
  cursor: pointer;
  font-family: inherit;
  transition: 250ms ease-out;

  &:hover,
  &:active {
    box-shadow: inset 94px 0 0 0 $secondary-color;
    color: white;
  }
}
