$primary-color: rgb(255, 255, 255);
$secondary-color: rgb(58, 58, 58);
$dropdown-color: rgb(218, 218, 218);

.navbar {
  background: linear-gradient(270deg, $primary-color, $secondary-color);
  font-family: "Open Sans Condensed", sans-serif;
  width: 100vw;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  //
  margin-bottom: 15rem;
  //

  .title {
    font-size: 30px;
    font-weight: 500;
    color: white;
  }

  .dropdownFadeIn {
    opacity: 1;
    transition: opacity 200ms;
  }

  .dropdownFadeOut {
    opacity: 0;
    transition: opacity 200ms;
    visibility: hidden;
  }

  .dropdown {
    position: absolute;
    right: 0;
    top: 81px;
    width: 15%;
    display: flex;
    flex-direction: column;
    align-items: left;
    background: $dropdown-color;
    padding: 0.5rem;
    overflow: hidden;

    .dropdown_item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0.5rem 1rem 0.5rem 1rem;
      margin: 0.25rem;
      transition: 120ms ease-in;
      border-radius: 1rem;
      font-size: 24px;
      transition: 120px ease-in;
      cursor: pointer;

      &:hover {
        background: white;
        transform: scale(1.05);
        opacity: 0.9;
      }
    }
  }
}
